<div class="container-fluid p-3">
    <mat-icon class="float-end hoover" (click)="closeModal()" >close</mat-icon>
    <h1 class="titulo">Detalhes do usuário</h1>
    <h2 class="subtitulo">Tenha uma visão mais detalhada do usuário</h2>

    <div class="row mt-3">
        <div class="col-6">
            <h4 class="titulo-informacao">Nome</h4>
            <p class="informacao">{{userData.name}}</p>
        </div>
        <div class="col-6">
            <h4 class="titulo-informacao">Email</h4>
            <p class="informacao">{{userData.email}}</p>
        </div>
        <div class="col-6">
            <h4 class="titulo-informacao">Setor</h4>
            <p class="informacao">{{userData.sector}}</p>
        </div>
        <div class="col-6">
            <h4 class="titulo-informacao">Cargo</h4>
            <p class="informacao">{{userData.role}}</p>
        </div>
        <div class="col-6">
            <h4 class="titulo-informacao">Plano de saúde</h4>
            @if(userData.healthPlan === null || userData.healthPlan === '' ){
                <p class="informacao">Não possui</p>
            }@else{
                <p class="informacao">{{userData.healthPlan}}</p>
            }

        </div>
        <div class="col-6">
            <h4 class="titulo-informacao">Plano odontológico</h4>
            @if(userData.dentalPlan === null || userData.dentalPlan === '' ){
                <p class="informacao">Não possui</p>
            }@else{
                <p class="informacao">{{userData.dentalPlan}}</p>
            }
        </div>
    </div>
</div>