<nav class="side-menu">
    <ul>
        <li routerLink="/home">        
            <img src="../../../assets/logo.png" alt="logo.png" width="40px">
            <span class="logo">Crud Usuários</span></li>
        <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
        <li routerLink="/crud"> <mat-icon>person_add</mat-icon>Cadastrar Usuários</li>
        <a href="https://firebase.google.com/docs?hl=pt" target="_blank" rel="noopener noreferrer"><li><mat-icon>local_fire_department</mat-icon>Firebase</li></a>
        <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer"><li><mat-icon>description</mat-icon>Descrição</li></a>
        <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>
    </ul>
</nav>