<div class="container-fluid p-3">
    <mat-icon class="float-end hoover" (click)="closeModal()" >close</mat-icon>
    <h1 class="titulo" *ngIf="userData === null">Cadastre um usuário</h1>
    <h1 class="titulo" *ngIf="userData != null">Edite um usuário</h1>
    <h2 class="subtitulo">Preencha o formulário para salvar o usuário</h2>

    <form class="row" [formGroup]="formUser">
        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="example-full-width w-100">
                <mat-label>Nome</mat-label>
                <input type="text" matInput formControlName="name" placeholder="Digite seu nome">
                @if (formUser.controls["name"].invalid) {
                  <mat-error>Nome inválido</mat-error>
                }
              </mat-form-field>
        </div>
        <div class="col-12 col-md-6 mb-2">
              <mat-form-field class="example-full-width w-100">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Digite seu email">
                @if (formUser.controls["email"].invalid) {
                  <mat-error>Email inválido</mat-error>
                }
              </mat-form-field>
        </div>

        <div class="col-12 col-md-6 mb-2">
              <mat-form-field class="example-full-width w-100">
                <mat-label>Cargo</mat-label>
                <input type="text" matInput formControlName="role" placeholder="Digite seu cargo">
                @if (formUser.controls["role"].invalid) {
                  <mat-error>Cargo inválido</mat-error>
                }
              </mat-form-field>
        </div>

        <div class="col-12 col-md-6 mb-2">
              <mat-form-field class="example-full-width w-100">
                <mat-label>Setor</mat-label>
                <input type="text" matInput formControlName="sector" placeholder="Digite seu setor">
                @if (formUser.controls["sector"].invalid) {
                  <mat-error>Setor inválido</mat-error>
                }
              </mat-form-field>

        </div>

        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="w-100">
                <mat-label> <mat-icon>favorite</mat-icon> Plano de saúde</mat-label>
                <mat-select formControlName="healthPlan">
                  @for (plano of planosSaude ; track plano) {
                    <mat-option [value]="plano.descricao">{{plano.descricao}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
        </div>

        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="w-100">
                <mat-label> <mat-icon>star</mat-icon> Plano de saúde</mat-label>
                <mat-select formControlName="dentalPlan">
                  @for (plano of planosOdonto ; track plano) {
                    <mat-option [value]="plano.descricao">{{plano.descricao}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
        </div>

        <div class="col-12">
            <button class="botao-primario float-end" [disabled]="!formUser.valid" (click)="saveUser()">Salvar Usuário</button>
        </div>

    </form>
</div>